{
  "name": "my-node-app",
  "version": "1.0.0",
  "description": "A simple Node.js app for multi-arch build.",
  "main": "index.js",
  "scripts": {
    "start": "node index.js"
  },
  "dependencies": {
    "express": "^4.19.2"
  }
}
